/* General page layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
  margin: 10px;
  padding: 10px;
}

h1,
h2,
h3 {
  color: #444; /* Slightly darker gray for headings */
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ccc; /* Light border */
  padding-bottom: 5px;
}

h3 {
  font-size: 1.3em;
  margin-top: 20px;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* White background for sections */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

p {
  font-size: 1.1em;
  margin: 10px 0;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Light gray borders */
}

th {
  background-color: #f9f9f9; /* Light gray background for table headers */
  font-weight: bold;
}

tr:hover {
  background-color: #f0f0f0; /* Light gray hover effect */
}

#impact-metrics-table {
  margin-top: 20px;
}

#impact-metrics-table th,
#impact-metrics-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

#impact-metrics-table thead {
  background-color: #e9e9e9; /* Slightly darker gray */
}

/* Styling for loading text */
#description,
#severity,
#score,
#vector-string,
#access-vector,
#access-complexity,
#authentication,
#confidentiality-impact,
#integrity-impact,
#availability-impact,
#exploitability-score,
#impact-score {
  color: #777; /* Lighter gray for loading text */
  font-style: italic;
}

/* Table for CPE data */
#cpe-table tbody tr {
  background-color: #fff; /* White rows for CPE table */
}

#cpe-table th,
#cpe-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Light gray border */
}

#cpe-table thead {
  background-color: #f9f9f9; /* Light gray for header */
}
